$gren-color:#28a745;
@mixin menulogo($color:#ffffff, $font:16px){
    font-size: $font;
    color: $color;

}
%buttons{
    background-color: rgb(108, 117, 125);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}